
body {
  background-image: url('Last.jpg'); /* Path to your image */
   margin: 0; /* Remove default margin */
  padding-top: 60px;
   background-repeat: no-repeat;
   background-size: cover;
background-position: center;
  height: 100%;
    
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;
   

}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


nav {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* Ensure it spans across the full width */
    position: fixed; /* Fix it at the top */
    top: 0; /* Align it at the top */
    left: 0;
   
  }
  
  #hoome {
    list-style-type: none;
   
   
  }
  #aboutuspage {
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
    list-style: none; /* Removes default list styling */
    padding-left: 500px;
    border-radius: 50%;
}
  li {
    display: inline;
    margin-right: 20px;
  }
  
   a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  #contact {
   margin-right: 320px;
    
  }
  #zaglavie {
    padding-left: 110px;
    padding-top: 40px;
    font-size: 50px;
    font-family:"Indie Flower";

  }
  .vertical-line {
    position: absolute;
    top: 17%;
    left: 20px;
    height: 40%;
    width: 3px;
    background-color: #333;
  }
  #intro{
    padding-left: 110px;
    font-weight: bold;
    
  }
  #glavno{
    font-family:"Oleo Script";
  }
  #contact1 {
    margin-right: 665px;
    color: rgb(170, 201, 230);
     
   }
   #contact2{
    margin-right: 665px;
    color: rgb(170, 201, 230);
     
   }
   #zaglavie2 {
    padding-left: 110px;
    padding-top: 40px;
    font-size: 50px;
    font-family:"Indie Flower";

  }
  #intro2{
    padding-left: 110px;
    font-weight: bold;
    
  }
  #about, #home, #contact {
    color: rgb(170, 201, 230);
  }
  #second{
    padding-left: 110px;
    padding-top: 40px;
    font-size: 50px;
    font-family:"Indie Flower";
}


/* Styling the form */
form {
    max-width: 600px;
    width: 100%; /* Ensures form takes up full width within max-width */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* White transparent background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styling form elements */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}